fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
pydantic[email]
python-multipart
passlib[bcrypt]
bcrypt<4.0
ultralytics
opencv-python-headless
insightface
onnxruntime
numpy
torch
torchvision
onnx
